#
# Be sure to 
#
#   chmod 600 aws_secrets.py 
#
# when you copy this file, to keep the information secure.
#

# Your Amazon access key as a Python string
AWS_ACCESS_KEY_ID=''

# Your Amazon *secret* access key as a Python string
AWS_SECRET_ACCESS_KEY=''

# The PGP/GPG public key you encrypt to with duplicity
PUBKEY=''

# the name of your Amazon S3 bucket
BUCKET=''

# The PGP passphrase corresponding to that public key.
# This one is needed in order to remove outdated backups
PASSPHRASE=''
